// Bootstrap Overrides
:root {
    --bs-body-color: #252733;
    --bs-primary-rgb: 37, 39, 51;
    --bs-font-sans-serif: 'Poppins', system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    --select-border: #F1F6FF;
    --select-focus: #16162A;
    --select-arrow: var(--select-border);
}

img {
    margin: 0;
    display: block;
    max-width: 100%;
}

// Base Styling
@import 'base/variables';
@import 'base/mixins';
@import 'base/typography';
@import 'base/colors';
@import 'base/buttons';

// Project and Page Centric Styling
@import 'partials/common';
@import 'partials/home';